html {
    box-sizing: border-box;
    background-color: #E0C9a6;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}
.title {
    background-color:#ffff0050;
    font-size: 48px;
    padding: 5px 118px;
    border: solid;
    width: fit-content;
    margin: auto;
    margin-top: 32px;
}
.recipe-list {
    background-color: rgba(255, 255, 172, 0.568);
    font-size: 22px;
    border: solid #f07b7b80;
    width: 500px;
    height: 700px;
    margin: auto;
    padding: 0;
    margin-top:-1px;
}
.recipe-list li {
    list-style: none;
    border-bottom: 2px dotted #f07b7b80;
    text-indent: 25px;
    height: auto;
    padding: 10px;
    text-transform: capitalize;
}
a {
    color: cadetblue;
}
.homerow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    gap: 32px;
    margin-right: 40px;
    margin-left: 16px;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    border: solid 4px;
    flex-wrap: wrap;
}

.container img {
    border: solid #ffff6b9d;
    align-self: center;
}

.container div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    flex: 1;
}
.description {
    border: solid lightcoral;
    padding: 10px;
    font-size: 30px;
    min-width: 450px;
}
.ingredients {
    border: solid darkcyan;
    padding: 10px;
    max-width:300px;
    flex: 0;
    flex-grow: 0;
    min-width: 222px;
}
.directions {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: solid 4px;
}
.outer-container {
    display: flex;
    flex-direction: column;
}